:root{
    //整体色
    --wzry-bgc:#fff;
    --wzry-title-color: #1e2b47;
    --wzry-text-color: #828d9c;

    // 轮播图背景色
    --wzry-search-swipe-bgc: #fff;

    //after背景颜色
    --wzry-after-bgc: transparent;

    //设置里面的盒子阴影
    --wzry-box-shadow : 0px 2px 6px rgba(0, 0, 0, 0.2);
    //设置里面头部背景
    --wzry-setting-top-bgc: rgb(33, 150, 243,0.7);









    
    //盒子阴影
    --wzry-block-shadow: 0px 2px 10px 0px #555f6921;
}